html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  background-color: #343a40;
  color: white;
  text-align: center;
}

.btn-group .btn {
  margin-right: 5px;
}

.fa-lg {
  font-size: 1.5em;
}

.list-group-item {
  display: flex;
  flex-direction: column;
}

.list-group-item > .d-flex {
  margin-bottom: 10px;
}